@charset "utf-8";
/* CSS Document */

		body{
			margin: 0 0;
		}
		.{
			font-family: "Google Sans,Arial,sans-serif";
		}
		header{
			height: 55px;
			text-align: center;
			background-color: white;
		}
		a h3{
			margin: inherit;
			color: rebeccapurple;
		}
		header img{
			display: inline-block;
			margin:0 3%;
			border-radius: 20px;
		}
		header a{
			display: inline-block;
			text-decoration: none;
			margin: 0 1%;
		}
		header div{
			display: inline-block;
			height: 55px;
			width: 12%;
			margin: 0 0;
		}
		header div:hover{
			background-color: rgb(201,192,211);
			color: white;
		}
		.home{
			/*height: 593.2px;
			background-image: url(google07.jpg);
			background-position: center;
			background-size: 100%;*/
			padding-top: 10px;
			width: 100%;
			text-align: center;
			box-shadow: 0px 5px 10px #E0E0E0 inset;
			-webkit-box-shadow: 0px 5px 10px #E0E0E0 inset;
			-moz-box-shadow: 0px 5px 5px #C0C0C0 inset;
			-o-box-shadow: 0px 5px 5px #C0C0C0 inset;
		}
		.girl{
			display: block;
			width: 100%;
			height: 350px;
			background: url(../imgs/Opera03.jpg);
			background-position: center center;
			background-size: cover;
			/*background-attachment: fixed;*/
		}
		.girl h1{
			position: relative;
			top: 12%;
			left: 35%;
			width: 30%;
			margin: 0;
			font-size: 3em;
			font-weight: 200;
			font-style: italic;
		}
		.chrome{
			height: 500px;
		}
		.viewshow{
			float: left;
			width: 65%;
			height: 100%;
			margin: 0;
			background-color: white;
			text-align: center;
		}
		.book{
			float: left;
			width: 35%;
			height: 100%;
			margin: 0;
			/*background-color: steelblue;*/
			background-color: white;
		}
		input{
			height: 40px;
			width: 80px;
			border: 0;
			border-radius: 20px;
			background-color: steelblue;
		}
		input: hover{
			cursor: pointer;
		}
		.firefox{
			height: 600px;
		}
		.opera{
			height: 500px;
		}
		.safari{
			height: 500px;
		}
		.ie{
			height: 500px;
		}
		.bottom{
			padding: 1% 8% 1% 8%;
			margin: 0 0;
			background-color: white;
			border-bottom: solid black 2px;
			box-shadow: 0px 5px 10px #E0E0E0 inset;
			-webkit-box-shadow: 0px 5px 10px #E0E0E0 inset;
			-moz-box-shadow: 0px 5px 5px #C0C0C0 inset;
			-o-box-shadow: 0px 5px 5px #C0C0C0 inset;
		}
		.lian_jie{
			padding: 1% 0%;
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			flex-wrap: nowrap;/*一排排不下，不换行*/
			justify-content: flex-start;/*主轴对齐方式*/
			align-items: flex-start;/*align-items属性定义项目在交叉轴上如何对齐。*/
		}
		.lian_jie div{
			flex-grow: 1;
		}
		.lian_jie li{
			height: 30px;
		}
		.lian_jie li a{
			text-decoration: none;
		}
		.lian_jie li a:hover{
			text-decoration: underline;
		}
		.lian_jie li a span{
			font-size: 13px;
			color: black;
		}
